<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessagePack" version="3.1.3" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="3.1.3" targetFramework="net48" />
  <package id="MessagePackAnalyzer" version="3.1.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.11.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.13.0" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="17.13.9" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net48" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.13.226" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Language" version="17.13.226" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="17.13.226" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.13.226" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.13.226" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI" version="17.13.226" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="17.13.61" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.13.61" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Only" version="17.13.61" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="17.8.8" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Nerdbank.Streams" version="2.12.87" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="StreamJsonRpc" version="2.21.69" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.3" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="9.0.3" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.3" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.3" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="9.0.3" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.3" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="9.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>