
root = true

# All files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
[*.cs]
# SA1000 KeywordsMustBeSpacedCorrectly
dotnet_diagnostic.SA1000.severity = none
# SA1101PrefixLocalCallsWithThis
dotnet_diagnostic.SA1101.severity = none
# SA1201 ElementsMustAppearInTheCorrectOrder
dotnet_diagnostic.SA1201.severity = none
# SA1203 ConstElementsMustAppearBeforeFields
dotnet_diagnostic.SA1203.severity = none
# SA1204 StaticElementsMustAppearBeforeInstanceElements
dotnet_diagnostic.SA1204.severity = none
# SA1309FieldNamesMustNotBeginWithUnderscore
dotnet_diagnostic.SA1309.severity = none
# CS0649: Field is never assigned to, and will always have its default value
dotnet_diagnostic.CS0649.severity = none
# CS0067: Event is never used
dotnet_diagnostic.CS0067.severity = none
# CVST005: Command has not been initialized
dotnet_diagnostic.CVST005.severity = none

[*Tests.cs]
# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
dotnet_diagnostic.CS8618.severity = none
